.Container {
    width: 100%;
    background-color: rgb(230, 230, 230);
    height: 100vh;
    overflow: hidden;
}

.header-area {
    height: 5%;
    margin-bottom: 10px;
}

.body-area {
    height: auto;
    display: flex;
}
